<footer>
  <div class="container footerContainer">
    <div class="footer-nav flex flex-around flex-start flex-g-1">
      <div class="col flex flex-column flex-start flex-g-1">
        <span class="logo-holder">
          <h1>Contact</h1>
        </span>
        <li><p><img src="assets/images/phone.png" width="20" height="20"></p><a>+ 216 92 200 092</a></li>
        <li><p><img src="assets/images/email.png" width="20" height="20"></p><a>wajdimefteh1@gmail.com</a></li>
      </div>
      <div class="col flex flex-column flex-g-1 flex-start">
        <h1>Services</h1>
        <nav class="col-list">
          <ul>
            <li><p><img src="assets/images/dep.png" width="20" height="20"></p><a>Dépannage,Maintenance</a></li>
            <li><p><img src="assets/images/3dd.png" width="20" height="20"></p><a>Impression 3D</a></li>
            <li><p><img src="assets/images/web.png" width="20" height="20"></p><a>Création de site web</a></li>
            <li><p><img src="assets/images/t.png" width="20" height="25"></p><a>Configuration smartphones</a></li>
          </ul>
        </nav>
      </div>
      <div class="col flex flex-column flex-g-1 flex-start">
        <h1> Siège social:
        </h1>
        <nav class="col-list">
          <ul>
            <li><a><img src="assets/images/lieu.png"  width="20" height="20">
                7 et 8 avenue liberté Mhamdia</a></li>
           
          </ul>
        </nav>
      </div>
      
    </div>
    <div class="copyright">© 2022 WM All Rights Reserved.</div>
  </div>
</footer>

<!-- Buy me a coffe script -->
<script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="vbattalshn" data-description="Support me on Buy me a coffee!" data-message="" data-color="#5F7FFF" data-position="Right" data-x_margin="18" data-y_margin="18"></script>