
  <body>
    <section>
      <div class="row">
      </div>
      <a target="_blank">
       <span>Configuration smartphones Android et iOS</span>
        <div class="liquid"></div>
    </a>
      <div class="row">
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <img src="assets/images/sa.png" width="70"><i class="fas fa-hammer"></i>
            </div>
            <h3>SATISFAIT OU REMBOURSE </h3>
            <p>
                Eh oui chez WM vous avez 7 jours pour tester votre réparations, si vous rencontrez le moindre problème nous vous remboursons sur la totalité de votre réparation.
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <img src="assets/images/r.png" width="70"> <i class="fas fa-brush"></i>
            </div>
            <h3>PIECES D’ORIGINE & GARANTIE</h3>
            <p>
                Toutes les pièces détachées sont d’origine ou d’une qualité équivalente. Vous bénéficiez aussi de 90/ jours de garanties ( hors casse et oxidation ) pièces et main-d’oeuvre sur toutes nos réparations et ceci selon les normes internationales de réparations.
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper"><img src="assets/images/dia.png" width="80">
              <i class="fas fa-wrench"></i>
            </div>
            <h3>DIAGNOSTIC GRATUIT</h3>
            <p>
                Le diagnostic de votre appareil reste toujours GRATUIT, dans le cas ou vous accepter la réparation nous vous déduisons le montant du diagnostic du prix de la réparation.
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <img src="assets/images/c.png" width="65">              <i class="fas fa-truck-pickup"></i>
            </div>
            <h3>TECHNICIEN CERTIFIE</h3>
            <p>
                Chez WM ,tous  Nos techniciens sont certifiés par des centres agréés par l’Etat qui les forme aux meilleures techniques de réparation.
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper"><img src="assets/images/ma.png" width="80">
              <i class="fas fa-broom"></i>
            </div>
            <h3>TOUTE UNE EQUIPE A VOTRE SERVICE</h3>
            <p>Des collaborateurs sont à votre écoute pour vous accompagner dans vos projets d'acquisition et vous aider à mieux exploiter votre équipement. 


            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper"><img src="assets/images/tt.jpg" width="60">
              <i class="fas fa-plug"></i>
            </div>
            <h3>TRANSFERT DE DONNEES</h3>
            <p>
                le transfert de données entre les appareils Apple ou entre des appareils Apple et d'autres appareils sous des systèmes différents ( Android, Windows et Linux).
            </p>
          </div>
        </div>
      </div>
    </section>
  </body>
