
  <body>
    <section>
      <div class="row">
      </div>
      <a target="_blank">
       <span>Services Installation réseaux informatique</span>
        <div class="liquid"></div>
    </a>
      <div class="row">
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <img src="assets/images/l.png" width="70"><i class="fas fa-hammer"></i>
            </div>
            <h3>Réseau local familial</h3>
            <p>
                Partage de fichiers, de connexion Internet ou d’imprimante
                Installation de votre box Internet, du wifi et du CPL            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <img src="assets/images/loc.png" width="70"> <i class="fas fa-brush"></i>
            </div>
            <h3>Réseau professionnel d'entreprise
            </h3>
            <p>
                Câblage réseau, installation du matériel nécessaire pour un bon fonctionnement de votre réseau d'entreprise.            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper"><img src="assets/images/sol.png" width="80">
              <i class="fas fa-wrench"></i>
            </div>
            <h3>Solution réseaux informatique</h3>
            <p>
                Gestion d'adressage IP,Configuration des routeurs et accèes internet,Droit d'accès multi-utilisateurs            </p>
          </div>
        </div>
        
       
      </div>
    </section>
  </body>
