
  <body>
    <section>
      <div class="row">
      </div>
      <a target="_blank">
       <span>WM votre partenaire de confiance</span>
        <div class="liquid"></div>
    </a>
      <div class="row">
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <img src="assets/images/phone.png" width="60"><i class="fas fa-hammer"></i>
            </div>
            <h3>Par Telephone</h3>
            <p>
                +216 92 200 92
            </p>          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <img src="assets/images/email.png" width="70"> <i class="fas fa-brush"></i>
            </div>
            <h3> Par mail
            </h3>
            <p>
                wajdimefteh1@gmail.com</p>          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper"><img src="assets/images/lieu.png" width="70">
              <i class="fas fa-wrench"></i>
            </div>
            <h3>Visitez-nous</h3>
            <p>
                7 et 8 avenue liberté Mhamdia,Ben Arous</p>          </div>
        </div>
        
       
      </div>
    </section>
  </body>
