
  <body>
    <section>
      <div class="row">
      </div>
      <a target="_blank">
        <span>Réparation de votre PC bureautique ou portable</span>
         <div class="liquid"></div>
     </a>
      <div class="row">
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <img src="assets/images/logiciel.jpg" width="80"><i class="fas fa-hammer"></i>
            </div>
            <h3>Logiciels</h3>
            <p>
              Installation et mise à jour de logiciels
   de Windows (fichiers temporaires, malwares, registre)
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <img src="assets/images/imp.png" width="50"> <i class="fas fa-brush"></i>
            </div>
            <h3>Matériel</h3>
            <p>
              Installation de matériel (imprimante, mémoire etc.)
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper"><img src="assets/images/virus.png" width="80">
              <i class="fas fa-wrench"></i>
            </div>
            <h3>Professionnels</h3>
            <p>
              PC en panne, plantage, virus, problème de connexion Internet
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <img src="assets/images/i.png" width="65">              <i class="fas fa-truck-pickup"></i>
            </div>
            <h3>Intervention </h3>
            <p>
              Intervention sur site rapidement et sur simple appel
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper"><img src="assets/images/dd.png" width="80">
              <i class="fas fa-broom"></i>
            </div>
            <h3>Récupération de données</h3>
            <p>
              Votre disque dur ne fonctionne plus ?
              Vous avez effacé un fichier important par mégarde et vous avez vidé la corbeille ?
               Un virus a effacé le contenu de votre disque dur et vous n'avez pas de sauvegarde ?
              Confiez-nous votre disque pour tenter de récupérer vos données.
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper"><img src="assets/images/mm.png" width="60">
              <i class="fas fa-plug"></i>
            </div>
            <h3>Maintenance </h3>
            <p>
              Maintenance de votre parc informatique
            </p>
          </div>
        </div>
      </div>
    </section>
  </body>
