
 <body>
    <div class="row">
    </div>
   
    <div class="container">
        
        <div class="card-1 card-div">
            
            <div class="like-icon-div">
                <label for="card-1-like" class="like-icon-div-child">
                    <input type="checkbox" id="card-1-like">
                    <i class="far fa-heart heart-empty"></i>
                    <i class="fas fa-heart heart-fill"></i>
                </label>
            </div>
            
            <div class="gow-img-div img-div">
                <img src="assets/images/o.png">
            </div>
            <div class="text-container">
                <h2 class="item-name">ORGANISATEURS DE BUREAUX</h2>
                <p class="date"> Pot à crayons - Porte crayons - Desk Organizer avec plusieurs compartiments.

                    Pour le rangement de ciseaux, ouvre-lettres, stylos, crayons, bâtons de colle ou trombones.
                    
                      </p>
                <div class="pricing-and-cart">
                    <div class="pricing">
                       
                        <p class="current-price">Nous somme à votre disposition afin de créer vos designs les plus uniques!</p>
                        <li><a href="contact">Contactez Nous</a></li>
                    </div>
                    <i class="fas fa-shopping-cart"></i>
                </div>
            </div>
        </div>
        <div class="card-1 card-div">
            <div class="like-icon-div">
                <label for="card-1-like" class="like-icon-div-child">
                    <input type="checkbox" id="card-1-like">
                    <i class="far fa-heart heart-empty"></i>
                    <i class="fas fa-heart heart-fill"></i>
                </label>
            </div>
            
            <div class="gow-img-div img-div">
                <img src="assets/images/z.png">
            </div>
            <div class="text-container">
                <h2 class="item-name">Lithophanie</h2>
                <p class="date">Nous imprimons vos photos en 3D pour un rendu décoratif. Bonne idée cadeau pour toutes les occasions, la lithophanie est un objet 3D unique qui met en lumière la photo grâce à des niveaux de reliefs très précis.</p>
                <div class="pricing-and-cart">
                    <div class="pricing">
                        <p class="current-price">Nous somme à votre disposition afin de créer vos designs les plus uniques!</p>
                        <li><a href="contact">Contactez Nous</a></li>

                    </div>
                    <i class="fas fa-shopping-cart"></i>
                </div>
            </div>
        </div>
        <div class="card-1 card-div">
            <div class="like-icon-div">
                <label for="card-1-like" class="like-icon-div-child">
                    <input type="checkbox" id="card-1-like">
                    <i class="far fa-heart heart-empty"></i>
                    <i class="fas fa-heart heart-fill"></i>
                </label>
            </div>
            
            <div class="gow-img-div img-div">
                <img src="assets/images/tro.png">
            </div>
            <div class="text-container">
                <h2 class="item-name">Trophée</h2>
                <p class="date">Trophée unique et sur mesure
                </p>
                <div class="pricing-and-cart">
                    <div class="pricing">
                        <p class="current-price">Nous somme à votre disposition afin de créer vos designs les plus uniques!
                        </p>
                        <li><a href="contact">Contactez Nous</a></li></div>
                    <i class="fas fa-shopping-cart"></i>
                </div>
            </div>
        </div>
        <div class="card-1 card-div">
            <div class="like-icon-div">
                <label for="card-1-like" class="like-icon-div-child">
                    <input type="checkbox" id="card-1-like">
                    <i class="far fa-heart heart-empty"></i>
                    <i class="fas fa-heart heart-fill"></i>
                </label>
            </div>
            
            <div class="gow-img-div img-div">
                <img src="assets/images/jeu.png">
            </div>
            <div class="text-container">
                <h2 class="item-name">Jeu d'échec</h2>
                <p class="date"> Jeu d'échec unique et sur mesure spécialement pour vous </p>
                <div class="pricing-and-cart">
                    <div class="pricing">
                        <p class="current-price">Nous somme à votre disposition afin de créer vos designs les plus uniques!</p>
                        <li><a href="contact">Contactez Nous</a></li></div>
                    <i class="fas fa-shopping-cart"></i>
                </div>
            </div>
        </div>
        <div class="card-2 card-div">
            <div class="like-icon-div">
                <label for ="card-2-like" class="like-icon-div-child">
                    <input type="checkbox" id="card-2-like">
                    <i class="far fa-heart heart-empty"></i>
                    <i class="fas fa-heart heart-fill"></i>
                </label>
            </div>
            <div class="sekiro-img-div img-div">
                <img src="assets/images/bu.png">
                        </div>
            <div class="text-container">
                <h2 class="item-name">Buste</h2>
                <p class="date"> Un buste très détaillé d'Albert Einstein, le célèbre physicien </p>
                <div class="pricing-and-cart">
                    <div class="pricing">
                        <p class="current-price">Nous somme à votre disposition afin de créer vos designs les plus uniques!</p>
                        <li><a href="contact">Contactez Nous</a></li>    </div>
                    <i class="fas fa-shopping-cart"></i>
                </div>
            </div>
        </div>

        <div class="card-3 card-div">
            <div class="like-icon-div">
                <label for="card-3-like" class="like-icon-div-child">
                    <input type="checkbox" id="card-3-like">
                    <i class="far fa-heart heart-empty"></i>
                    <i class="fas fa-heart heart-fill"></i>
                </label>
            </div>
            <div class="dazai-img-div img-div">
                <img src="assets/images/caa.png">
            </div>
            <div class="text-container">
                <h2 class="item-name">Un Cadre photo</h2>
                <p class="date"> Une photo spéciale mérite un cadre original, de plus vous pourrez le redimensionner à votre guise</p>
                <div class="pricing-and-cart">
                    <div class="pricing">
                        <p class="current-price">Nous somme à votre disposition afin de créer vos designs les plus uniques!</p>
                        <li><a href="contact">Contactez Nous</a></li>    </div>
                    <i class="fas fa-shopping-cart"></i>
                </div>
            </div>
        </div>

        <div class="card-4 card-div">
            <div class="like-icon-div">
                <label for="card-4-like" class="like-icon-div-child">
                    <input type="checkbox" id="card-4-like">
                    <i class="far fa-heart heart-empty"></i>
                    <i class="fas fa-heart heart-fill"></i>
                </label>
            </div>
            <div class="u4-img-div img-div">
                <img src="assets/images/co.png">            </div>
            <div class="text-container">
                <h2 class="item-name">Coeur</h2>
                <p class="date"> Pour les romantiques, on vous a déniché le CADEAU parfait 

                </p>
                <div class="pricing-and-cart">
                    <div class="pricing">
                        <p class="current-price">Nous somme à votre disposition afin de créer vos designs les plus uniques!</p>
                        <li><a href="contact">Contactez Nous</a></li>  </div>
                    <i class="fas fa-shopping-cart"></i>
                </div>
            </div>
        </div>
    </div>
</body>
