
  <body>
    <section>
      <div class="row">
      </div>
      <a target="_blank">
       <span>Création de site Web</span>
        <div class="liquid"></div>
    </a>
      <div class="row">
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <img src="assets/images/ec.png" width="70"><i class="fas fa-hammer"></i>
            </div>
            <h3>E-commerce</h3>
            <p>
              WM vous accompagne de la conception à la réalisation de votre site e-commerce. Nos solutions sont spécifiquement adaptées à vos besoins ( E-dinars, carte bancaire tunisienne...).           </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <img src="assets/images/dynamique.png" width="70"> <i class="fas fa-brush"></i>
            </div>
            <h3> Site web dynamique
            </h3>
            <p>
                Un site web dynamique est un site internet dont les pages sont affichées en fonction de vos besoins du moment et/ou en fonction de l’interaction avec vos visiteurs</p>          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper"><img src="assets/images/v.png" width="80">
              <i class="fas fa-wrench"></i>
            </div>
            <h3>Site web vitrine</h3>
            <p>
               WM est spécialisée en conception de site vitrine axée sur l'augmentation des conversions et des contacts clients, afin de faire ressortir votre marque sur le Web avec une apparence professionnelle et de qualité</p>          </div>
        </div>
        
       
      </div>
    </section>
  </body>
